html {
  box-sizing: border-box;
  font-family: 'ff-meta-serif-web-pro', Georgia, serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
